omegaconf
Pillow
imageio
numpy
pyarrow>=20.0.0
transformers>=4.30.0
datasets
torchaudio
scipy
audiomentations
soundfile
pesq
safetensors>=0.5.3
einops
torch>=2.6.0,<2.7.0
torchvision>=0.21.0,<0.22.0
flash-attn==2.7.4.post1
jaxtyping
wandb
safetensors
imageio
